[submodule "Packages/NetworkLayer"]
	path = Packages/NetworkLayer
	url = https://github.com/obadasemary/NetworkLayer
[submodule "Packages/CoreAPI"]
	path = Packages/CoreAPI
	url = https://github.com/obadasemary/CoreAPI
[submodule "Packages/BrandUseCase"]
	path = Packages/BrandUseCase
	url = https://github.com/obadasemary/BrandUseCase
[submodule "Packages/BrandRepository"]
	path = Packages/BrandRepository
	url = https://github.com/obadasemary/BrandRepository
[submodule "Packages/BrandRemoteImage"]
	path = Packages/BrandRemoteImage
	url = https://github.com/obadasemary/BrandRemoteImage
[submodule "Packages/AppDependencyModule"]
	path = Packages/AppDependencyModule
	url = https://github.com/obadasemary/AppDependencyModule
[submodule "Packages/BrandUI"]
	path = Packages/BrandUI
	url = https://github.com/obadasemary/BrandUI
[submodule "Packages/BrandDetailsFeature"]
	path = Packages/BrandDetailsFeature
	url = https://github.com/obadasemary/BrandDetailsFeature
[submodule "Packages/ProductDetailsFeature"]
	path = Packages/ProductDetailsFeature
	url = https://github.com/obadasemary/ProductDetailsFeature
